.features-wrapper {
  background-color: white;
  /* background-image: linear-gradient(0deg, rgb(47, 73, 143), rgb(15, 27, 41)); */
  min-height: 100dvh;
}

.features-header {
  min-height: 5rem;
  background-color: var(--yellow-theme);

  display: flex;
  align-items: center;
  justify-content: center;
}

.features-h1 {
  font-size: 5rem;
  color: black;
  padding-block: 0.5rem;
  text-shadow: 0.1rem 0.1rem 0.3rem yellow;
  letter-spacing: min(2rem, 2.5vw);
}

.features {
  display: flex;
  margin-top: 5rem;
  margin-inline: 3rem;
  flex-wrap: wrap;
  gap: min(6rem, 10vw);
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.features > * {
  width: 22rem;
  height: 20rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem 0.3rem var(--yellow-theme);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features > * > img {
  width: 5rem;
  display: block;
  margin-inline: auto;
  filter: drop-shadow(0 0 0.5rem black);
}

.features > * > span {
  text-wrap: wrap;
  /* text-align: center; */
  color: black;
  /* text-shadow: 0 0 0.1rem black; */
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1rem;
}

.features > * > p {
  color: black;
  /* text-align: center; */
  text-wrap: balance;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.carousell-wrapper {
  position: relative;
  margin-top: 1rem;

  overflow: hidden;
  display: flex;
  justify-content: center;
}

.carousell-wrapper::before,
.carousell-wrapper::after {
  position: absolute;
  content: '';
  background-color: white;
  width: 150%;
  height: min(9rem, 25vw);
  border-radius: 50%;
}

.carousell-wrapper::before {
  border-bottom: 0.2rem solid var(--yellow-theme);
  top: -10%;
}

.carousell-wrapper::after {
  border-top: 0.2rem solid var(--yellow-theme);
  bottom: -10%;
}

.carousell {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.carousell > img {
  width: min(30rem, 100vw);
  display: block;
  border: 0.2rem solid var(--yellow-theme);
}

.location-wrapper {
  background-color: var(--yellow-theme);
  padding-block: 1.5rem;
  margin-top: 0.5rem;
}

.location-h1 {
  font-size: 5rem;
  color: black;
  text-align: center;
}

.google-location {
  display: block;
  margin-inline: auto;
  width: 95vw;
  height: 95vh;
  border: 0.2rem solid black;
}

@media (max-width: 720px) {
  .features-h1 {
    font-size: 3rem;
  }
  .features {
    gap: 3rem;
    margin-inline: 1rem;
    margin-top: 3rem;
  }
  .features > * {
    width: 14rem;
    height: 17rem;
  }
  .features > * > img {
    width: 4rem;
  }
  .features > * > span {
    font-size: 1rem;
  }
  .features > * > p {
    font-size: 0.7rem;
  }
  .carousell-wrapper {
    margin-top: 0.5rem;
  }
  .location-h1 {
    font-size: 3rem;
  }
}
