.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100dvh;
}

.homehug-logo {
  position: fixed;
  width: 5rem;
  top: 5%;
  left: 2%;
  filter: drop-shadow(0 0 0.2rem var(--yellow-theme));
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.hero::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/hero.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;

  animation: scaling 1.5s ease-out 0s 1;
}

@keyframes scaling {
  0% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.text-wrapper {
  padding: 1rem;
  margin-inline: 3rem;
}

.hero-h1 {
  font-size: 5rem;
  text-shadow: 0.1rem 0.1rem 1rem black;
  text-align: center;
  text-wrap: balance;

  animation: appear 1.5s ease-out 0s 1;
}

.hero-h2 {
  width: min(50rem, 90vw);
  margin-inline: auto;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
  line-height: 1.1rem;
  text-shadow: 0.1rem 0.1rem 0.3rem black;
  font-weight: 300;
  text-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  border-radius: 1rem;

  animation: appear 1.5s ease-out 0s 1;
}

@keyframes appear {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 720px) {
  .homehug-logo {
    width: 3rem;
  }
  .hero-h1 {
    font-size: 3rem;
  }
  .hero-h2 {
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
}
